.container {
  border: 1px solid black;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outputContainer {
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 10px;
  max-width: 70%;
}

.outputContainer > p {
  margin: 10px;
}
